<!--explore start -->
<section id="explore" class="explore">
    <div class="container">
      <div class="section-header">
        <h2>explore</h2>
        <p>Explore New place, food, culture around the world and many more</p>
      </div><!--/.section-header-->
      <div class="explore-content">
        <div class="row">
          <div class=" col-md-4 col-sm-6">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <img src="assets/images/explore/e1.jpg" alt="explore image">
                <div class="single-explore-img-info">
                  <button onclick="window.location.href='#'">best rated</button>
                  <div class="single-explore-image-icon-box">
                    <ul>
                      <li>
                        <div class="single-explore-image-icon">
                          <i class="fa fa-arrows-alt"></i>
                        </div>
                      </li>
                      <li>
                        <div class="single-explore-image-icon">
                          <i class="fa fa-bookmark-o"></i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="single-explore-txt bg-theme-1">
                <h2><a href="#">tommy helfinger bar</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-rating">5.0</span>
                  <a href="#"> 10 ratings</a> 
                  <span class="explore-price-box">
                    form
                    <span class="explore-price">5$-300$</span>
                  </span>
                   <a href="#">resturent</a>
                </p>
                <div class="explore-person">
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="explore-person-img">
                        <a href="#">
                          <img src="assets/images/explore/person.png" alt="explore person">
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua.... 
                      </p>
                    </div>
                  </div>
                </div>
                <div class="explore-open-close-part">
                  <div class="row">
                    <div class="col-sm-5">
                      <button class="close-btn" onclick="window.location.href='#'">close now</button>
                    </div>
                    <div class="col-sm-7">
                      <div class="explore-map-icon">
                        <a href="#"><i data-feather="map-pin"></i></a>
                        <a href="#"><i data-feather="upload"></i></a>
                        <a href="#"><i data-feather="heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <img src="assets/images/explore/e2.jpg" alt="explore image">
                <div class="single-explore-img-info">
                  <button onclick="window.location.href='#'">featured</button>
                  <div class="single-explore-image-icon-box">
                    <ul>
                      <li>
                        <div class="single-explore-image-icon">
                          <i class="fa fa-arrows-alt"></i>
                        </div>
                      </li>
                      <li>
                        <div class="single-explore-image-icon">
                          <i class="fa fa-bookmark-o"></i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="single-explore-txt bg-theme-2">
                <h2><a href="#">swim and dine resort</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-rating">4.5</span>
                  <a href="#"> 8 ratings</a> 
                  <span class="explore-price-box">
                    form
                    <span class="explore-price">50$-500$</span>
                  </span>
                   <a href="#">hotel</a>
                </p>
                <div class="explore-person">
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="explore-person-img">
                        <a href="#">
                          <img src="assets/images/explore/person.png" alt="explore person">
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua.... 
                      </p>
                    </div>
                  </div>
                </div>
                <div class="explore-open-close-part">
                  <div class="row">
                    <div class="col-sm-5">
                      <button class="close-btn open-btn" onclick="window.location.href='#'">open now</button>
                    </div>
                    <div class="col-sm-7">
                      <div class="explore-map-icon">
                        <a href="#"><i data-feather="map-pin"></i></a>
                        <a href="#"><i data-feather="upload"></i></a>
                        <a href="#"><i data-feather="heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <img src="assets/images/explore/e3.jpg" alt="explore image">
                <div class="single-explore-img-info">
                  <button onclick="window.location.href='#'">best rated</button>
                  <div class="single-explore-image-icon-box">
                    <ul>
                      <li>
                        <div class="single-explore-image-icon">
                          <i class="fa fa-arrows-alt"></i>
                        </div>
                      </li>
                      <li>
                        <div class="single-explore-image-icon">
                          <i class="fa fa-bookmark-o"></i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="single-explore-txt bg-theme-3">
                <h2><a href="#">europe tour</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-rating">5.0</span>
                  <a href="#"> 15 ratings</a> 
                  <span class="explore-price-box">
                    form
                    <span class="explore-price">5k$-10k$</span>
                  </span>
                   <a href="#">destination</a>
                </p>
                <div class="explore-person">
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="explore-person-img">
                        <a href="#">
                          <img src="assets/images/explore/person.png" alt="explore person">
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua.... 
                      </p>
                    </div>
                  </div>
                </div>
                <div class="explore-open-close-part">
                  <div class="row">
                    <div class="col-sm-5">
                      <button class="close-btn" onclick="window.location.href='#'">close now</button>
                    </div>
                    <div class="col-sm-7">
                      <div class="explore-map-icon">
                        <a href="#"><i data-feather="map-pin"></i></a>
                        <a href="#"><i data-feather="upload"></i></a>
                        <a href="#"><i data-feather="heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class=" col-md-4 col-sm-6">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <img src="assets/images/explore/e4.jpg" alt="explore image">
                <div class="single-explore-img-info">
                  <button onclick="window.location.href='#'">most view</button>
                  <div class="single-explore-image-icon-box">
                    <ul>
                      <li>
                        <div class="single-explore-image-icon">
                          <i class="fa fa-arrows-alt"></i>
                        </div>
                      </li>
                      <li>
                        <div class="single-explore-image-icon">
                          <i class="fa fa-bookmark-o"></i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="single-explore-txt bg-theme-4">
                <h2><a href="#">banglow with swiming pool</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-rating">5.0</span>
                  <a href="#"> 10 ratings</a> 
                  <span class="explore-price-box">
                    form
                    <span class="explore-price">10k$-15k$</span>
                  </span>
                   <a href="#">real estate</a>
                </p>
                <div class="explore-person">
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="explore-person-img">
                        <a href="#">
                          <img src="assets/images/explore/person.png" alt="explore person">
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua.... 
                      </p>
                    </div>
                  </div>
                </div>
                <div class="explore-open-close-part">
                  <div class="row">
                    <div class="col-sm-5">
                      <button class="close-btn" onclick="window.location.href='#'">close now</button>
                    </div>
                    <div class="col-sm-7">
                      <div class="explore-map-icon">
                        <a href="#"><i data-feather="map-pin"></i></a>
                        <a href="#"><i data-feather="upload"></i></a>
                        <a href="#"><i data-feather="heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <img src="assets/images/explore/e5.jpg" alt="explore image">
                <div class="single-explore-img-info">
                  <button onclick="window.location.href='#'">featured</button>
                  <div class="single-explore-image-icon-box">
                    <ul>
                      <li>
                        <div class="single-explore-image-icon">
                          <i class="fa fa-arrows-alt"></i>
                        </div>
                      </li>
                      <li>
                        <div class="single-explore-image-icon">
                          <i class="fa fa-bookmark-o"></i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="single-explore-txt bg-theme-2">
                <h2><a href="#">vintage car expo</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-rating">4.2</span>
                  <a href="#"> 8 ratings</a> 
                  <span class="explore-price-box">
                    form
                    <span class="explore-price">500$-1200$</span>
                  </span>
                   <a href="#">automotion</a>
                </p>
                <div class="explore-person">
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="explore-person-img">
                        <a href="#">
                          <img src="assets/images/explore/person.png" alt="explore person">
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua.... 
                      </p>
                    </div>
                  </div>
                </div>
                <div class="explore-open-close-part">
                  <div class="row">
                    <div class="col-sm-5">
                      <button class="close-btn open-btn" onclick="window.location.href='#'">open now</button>
                    </div>
                    <div class="col-sm-7">
                      <div class="explore-map-icon">
                        <a href="#"><i data-feather="map-pin"></i></a>
                        <a href="#"><i data-feather="upload"></i></a>
                        <a href="#"><i data-feather="heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="single-explore-item">
              <div class="single-explore-img">
                <img src="assets/images/explore/e6.jpg" alt="explore image">
                <div class="single-explore-img-info">
                  <button onclick="window.location.href='#'">best rated</button>
                  <div class="single-explore-image-icon-box">
                    <ul>
                      <li>
                        <div class="single-explore-image-icon">
                          <i class="fa fa-arrows-alt"></i>
                        </div>
                      </li>
                      <li>
                        <div class="single-explore-image-icon">
                          <i class="fa fa-bookmark-o"></i>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="single-explore-txt bg-theme-5">
                <h2><a href="#">thailand tour</a></h2>
                <p class="explore-rating-price">
                  <span class="explore-rating">5.0</span>
                  <a href="#"> 15 ratings</a> 
                  <span class="explore-price-box">
                    form
                    <span class="explore-price">5k$-10k$</span>
                  </span>
                   <a href="#">destination</a>
                </p>
                <div class="explore-person">
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="explore-person-img">
                        <a href="#">
                          <img src="assets/images/explore/person.png" alt="explore person">
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-10">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incid ut labore et dolore magna aliqua.... 
                      </p>
                    </div>
                  </div>
                </div>
                <div class="explore-open-close-part">
                  <div class="row">
                    <div class="col-sm-5">
                      <button class="close-btn" onclick="window.location.href='#'">close now</button>
                    </div>
                    <div class="col-sm-7">
                      <div class="explore-map-icon">
                        <a href="#"><i data-feather="map-pin"></i></a>
                        <a href="#"><i data-feather="upload"></i></a>
                        <a href="#"><i data-feather="heart"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.container-->
  
  </section><!--/.explore-->
  <!--explore end -->