<!--reviews start -->
<section id="reviews" class="reviews">
    <div class="section-header">
      <h2>clients reviews</h2>
      <p>What our client say about us</p>
    </div><!--/.section-header-->
    <div class="reviews-content">
      <div class="testimonial-carousel">
          <div class="single-testimonial-box">
          <div class="testimonial-description">
            <div class="testimonial-info">
              <div class="testimonial-img">
                <img src="assets/images/clients/c1.png" alt="clients">
              </div><!--/.testimonial-img-->
              <div class="testimonial-person">
                <h2>Tom Leakar</h2>
                <h4>london, UK</h4>
                <div class="testimonial-person-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div><!--/.testimonial-person-->
            </div><!--/.testimonial-info-->
            <div class="testimonial-comment">
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
              </p>
            </div><!--/.testimonial-comment-->
          </div><!--/.testimonial-description-->
        </div><!--/.single-testimonial-box-->
          <div class="single-testimonial-box">
          <div class="testimonial-description">
            <div class="testimonial-info">
              <div class="testimonial-img">
                <img src="assets/images/clients/c2.png" alt="clients">
              </div><!--/.testimonial-img-->
              <div class="testimonial-person">
                <h2>monirul islam</h2>
                <h4>london, UK</h4>
                <div class="testimonial-person-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div><!--/.testimonial-person-->
            </div><!--/.testimonial-info-->
            <div class="testimonial-comment">
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
              </p>
            </div><!--/.testimonial-comment-->
          </div><!--/.testimonial-description-->
        </div><!--/.single-testimonial-box-->
          <div class="single-testimonial-box">
          <div class="testimonial-description">
            <div class="testimonial-info">
              <div class="testimonial-img">
                <img src="assets/images/clients/c3.png" alt="clients">
              </div><!--/.testimonial-img-->
              <div class="testimonial-person">
                <h2>Shohrab Hossain</h2>
                <h4>london, UK</h4>
                <div class="testimonial-person-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div><!--/.testimonial-person-->
            </div><!--/.testimonial-info-->
            <div class="testimonial-comment">
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
              </p>
            </div><!--/.testimonial-comment-->
          </div><!--/.testimonial-description-->
        </div><!--/.single-testimonial-box-->
          <div class="single-testimonial-box">
          <div class="testimonial-description">
            <div class="testimonial-info">
              <div class="testimonial-img">
                <img src="assets/images/clients/c4.png" alt="clients">
              </div><!--/.testimonial-img-->
              <div class="testimonial-person">
                <h2>Tom Leakar</h2>
                <h4>london, UK</h4>
                <div class="testimonial-person-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div><!--/.testimonial-person-->
            </div><!--/.testimonial-info-->
            <div class="testimonial-comment">
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
              </p>
            </div><!--/.testimonial-comment-->
          </div><!--/.testimonial-description-->
        </div><!--/.single-testimonial-box-->
          <div class="single-testimonial-box">
          <div class="testimonial-description">
            <div class="testimonial-info">
              <div class="testimonial-img">
                <img src="assets/images/clients/c1.png" alt="clients">
              </div><!--/.testimonial-img-->
              <div class="testimonial-person">
                <h2>Tom Leakar</h2>
                <h4>london, UK</h4>
                <div class="testimonial-person-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div><!--/.testimonial-person-->
            </div><!--/.testimonial-info-->
            <div class="testimonial-comment">
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
              </p>
            </div><!--/.testimonial-comment-->
          </div><!--/.testimonial-description-->
        </div><!--/.single-testimonial-box-->
          <div class="single-testimonial-box">
          <div class="testimonial-description">
            <div class="testimonial-info">
              <div class="testimonial-img">
                <img src="assets/images/clients/c2.png" alt="clients">
              </div><!--/.testimonial-img-->
              <div class="testimonial-person">
                <h2>monirul islam</h2>
                <h4>london, UK</h4>
                <div class="testimonial-person-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div><!--/.testimonial-person-->
            </div><!--/.testimonial-info-->
            <div class="testimonial-comment">
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
              </p>
            </div><!--/.testimonial-comment-->
          </div><!--/.testimonial-description-->
        </div><!--/.single-testimonial-box-->
          <div class="single-testimonial-box">
          <div class="testimonial-description">
            <div class="testimonial-info">
              <div class="testimonial-img">
                <img src="assets/images/clients/c3.png" alt="clients">
              </div><!--/.testimonial-img-->
              <div class="testimonial-person">
                <h2>Shohrab Hossain</h2>
                <h4>london, UK</h4>
                <div class="testimonial-person-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div><!--/.testimonial-person-->
            </div><!--/.testimonial-info-->
            <div class="testimonial-comment">
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
              </p>
            </div><!--/.testimonial-comment-->
          </div><!--/.testimonial-description-->
        </div><!--/.single-testimonial-box-->
          <div class="single-testimonial-box">
          <div class="testimonial-description">
            <div class="testimonial-info">
              <div class="testimonial-img">
                <img src="assets/images/clients/c4.png" alt="clients">
              </div><!--/.testimonial-img-->
              <div class="testimonial-person">
                <h2>Tom Leakar</h2>
                <h4>london, UK</h4>
                <div class="testimonial-person-star">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
              </div><!--/.testimonial-person-->
            </div><!--/.testimonial-info-->
            <div class="testimonial-comment">
              <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis eaque.
              </p>
            </div><!--/.testimonial-comment-->
          </div><!--/.testimonial-description-->
        </div><!--/.single-testimonial-box-->
      </div>
    </div>
  
  </section><!--/.reviews-->
  <!--reviews end -->

  <!-- statistics strat -->
<section id="statistics"  class="statistics">
    <div class="container">
      <div class="statistics-counter"> 
        <div class="col-md-3 col-sm-6">
          <div class="single-ststistics-box">
            <div class="statistics-content">
              <div class="counter">90 </div> <span>K+</span>
            </div><!--/.statistics-content-->
            <h3>listings</h3>
          </div><!--/.single-ststistics-box-->
        </div><!--/.col-->
        <div class="col-md-3 col-sm-6">
          <div class="single-ststistics-box">
            <div class="statistics-content">
              <div class="counter">40</div> <span>k+</span>
            </div><!--/.statistics-content-->
            <h3>listing categories</h3>
          </div><!--/.single-ststistics-box-->
        </div><!--/.col-->
        <div class="col-md-3 col-sm-6">
          <div class="single-ststistics-box">
            <div class="statistics-content">
              <div class="counter">65</div> <span>k+</span>
            </div><!--/.statistics-content-->
            <h3>visitors</h3>
          </div><!--/.single-ststistics-box-->
        </div><!--/.col-->
        <div class="col-md-3 col-sm-6">
          <div class="single-ststistics-box">
            <div class="statistics-content">
              <div class="counter">50</div> <span>k+</span>
            </div><!--/.statistics-content-->
            <h3>happy clients</h3>
          </div><!--/.single-ststistics-box-->
        </div><!--/.col-->
      </div><!--/.statistics-counter-->	
    </div><!--/.container-->
  
  </section><!--/.counter-->	
  <!-- statistics end -->