<!--footer start-->
<footer id="footer"  class="footer">
    <div class="container">    
      <div class="hm-footer-copyright">
        <div class="row">
          <div class="col-sm-5">
            <p>
              &copy;copyright. designed and developed by <a href="https://www.themesine.com/">themesine</a>
            </p><!--/p-->
          </div>
          <div class="col-sm-7">
            <div class="footer-social">
              <span><i class="fa fa-phone"> +1  (222) 777 8888</i></span>
              <a href="#"><i class="fa fa-facebook"></i></a>	
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>
        
      </div><!--/.hm-footer-copyright-->
    </div><!--/.container-->
  
    <div id="scroll-Top">
      <div class="return-to-top">
        <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
      </div>
      
    </div><!--/.scroll-Top-->
    
      </footer><!--/.footer-->
  <!--footer end-->
  