<!--works start -->
<section id="works" class="works">
    <div class="container">
      <div class="section-header">
        <h2>how it works</h2>
        <p>Learn More about how our website works</p>
      </div><!--/.section-header-->
      <div class="works-content">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="single-how-works">
              <div class="single-how-works-icon">
                <i class="flaticon-lightbulb-idea"></i>
              </div>
              <h2><a href="#">choose <span> what to</span> do</a></h2>
              <p>
                Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempor incididunt ut laboremagna aliqua. 
              </p>
              <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                read more
              </button>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="single-how-works">
              <div class="single-how-works-icon">
                <i class="flaticon-networking"></i>
              </div>
              <h2><a href="#">find <span> what you want</span></a></h2>
              <p>
                Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempor incididunt ut laboremagna aliqua. 
              </p>
              <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                read more
              </button>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="single-how-works">
              <div class="single-how-works-icon">
                <i class="flaticon-location-on-road"></i>
              </div>
              <h2><a href="#">explore <span> amazing</span> place</a></h2>
              <p>
                Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempor incididunt ut laboremagna aliqua. 
              </p>
              <button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
                read more
              </button>
            </div>
          </div>
        </div>
      </div>
    </div><!--/.container-->
  
  </section><!--/.works-->
  <!--works end -->